#wrapper{
display: grid;
height: 200vh;
width: 98.65vw;
   

grid-template-columns: 15% 1fr 1fr 1fr;
grid-template-rows: 8% 87% 5%;
grid-template-areas: 
    'hd hd hd hd'
    'mn mn mn mn'
    'ft ft ft ft'

;


}
body{
margin: 0;
padding: 0;
overflow-x: hidden;

}




header{
grid-area: hd;
background-color: #32CD32;
text-align: center;

font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
border-radius: 0px 0px 15px 15px;
display: grid;
grid-template-areas: 
'nv hd'
;
grid-template-columns: 0%  100%;
grid-template-rows: 10%;

}

nav{

align-self: flex-start;
grid-area: nv;


}

.hemknapp{
width: 7vw;
}






h1{

color: white;
  font-size: 35px;

}


main{
grid-area: mn;

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

main div{
    
    
    margin: 20px;
    border-radius:25px ;
    font-size: 20px;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px;
    border-style: solid;
    border-color: #32CD32;
    
    
}
main div p{
color: aliceblue;
text-decoration: #32CD32;


}

footer{
    grid-area: ft;
    background-color: #32CD32;
    
    
}

#d1{
    background-image:url(../img/martin-samuelsson_gron.jpg) ;
}
#d2{
    background-image:url(../img/ivan_suleimani_gron.jpg) ;
}
#d3{
    background-image:url(../img/andreas_lennartsson_gron.jpg) ;
}
#d4{
    background-image:url(../img/martin-samuelsson_gron.jpg) ;
}
#d5{
    background-image:url(../img/ivan_suleimani_gron.jpg) ;
    
}
#d6{
    background-image:url(../img/andreas_lennartsson_gron.jpg) ;
}
#d7{
    background-image:url(../img/martin-samuelsson_gron.jpg) ;
}
#d8{
    background-image:url(../img/ivan_suleimani_gron.jpg) ;
    
}

