#wrapper{
    
    display: grid;
    height: 100vh;
   
    grid-template-columns:35% 30% 35% ;
    grid-template-rows: 30% 60% 10%;
    grid-template-areas: 
    'hd hd hd'
    'mn mn mn'
    'ft ft ft'
    ;
    

}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


header{
    background-image:url(../img/traningsman2.jpg) ;
    grid-area: hd;
    text-align: center;
    aspect-ratio: 9 / 2,5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    
}

h1{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 50px;
    
}

.h1-wrapper {
    padding: 1rem;
    
    background-color: #32CD32;
    height: auto;
    width: auto;
    border-radius: 15px;
}

nav{
grid-area: mn;
display: flex;
justify-content: space-around;
align-content: stretch;

}
nav a{
display: flex;
border: #32CD32;
background-image: ;
border-radius: 10px;
text-align: center;
text-justify:center;
padding: 2rem;
}
nav a img{

    border-radius: 15px;
}

footer{
    grid-area: ft;
    background-color: #32CD32;
}